/* navbar */
.nav-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #279f57;
  color: #0d1421;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Hamburger menu icon */
.hamburger-icon {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Desktop user menu */
.menu-desktop {
  display: flex;
  gap: 10px;
}

/* Disable selection on all elements */
.nav-bar * {
  user-select: none;
}

/* Menu container */
.menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #204d31;
  border: 1px solid #2fc069;
  border-radius: 5px;
  padding: 10px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

/* Navbar button styling */
.navbar-button {
  font-size: 0.7rem;
  padding: 10px;
  margin: 2px 0;
  border-radius: 5px;
  color: #0d1421;
  border: 1px transparent;
  background-color: transparent;
  font-weight: 600;
}

/* Menu button styling */
.menu-button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 2px 0;
  border-radius: 5px;
  color: #2fc069;
  border: 1px solid #2fc069;
  background-color: #0d1421;
  font-weight: 600;
}

.menu-button:hover {
  color: #d0d0d0;
  background-color: #204d31;
  border: 1px solid #2fc069;
}

/* Sign-in button styling */
.sign-in img {
  width: 150px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger-icon {
    display: block;
  }
}
