/* navbar */
.nav-bar {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #279f57;
  color: #0d1421;
  height: 60px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Hamburger menu icon */
.hamburger-placeholder {
  font-size: 1.5rem;
  cursor: pointer;
  display: none; /* Hidden by default */
}

/* Menu container */
.menu {
  position: absolute;
  top: 60px; /* Matches the navbar height */
  right: 30px;
  background-color: #1c2c4c;
  border: 1px solid #88dded;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

/* Sign-in button styling */
.sign-in img {
  width: 150px;
  cursor: pointer;
}

/* Sign-out button styling */
.sign-out {
  padding: 5px 10px;
  border-radius: 5px;
  color: #88dded;
  border: 1px solid #1c2c4c;
  background-color: #1c2c4c;
  font-weight: 600;
  margin: 10px 0; /* Adds space between buttons */
}

/* Responsive styles */
@media (max-width: 768px) {
  .hamburger-placeholder {
    display: block;
  }
}
